body{
    background-color: beige;
}
p{
    padding-top:10px;
}

table, th, td {
    border: 1px solid;
    margin-top: 10px;
    padding: 10px;
    width: 90%;

  }
  #envoyer{
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;

  }
  .Input-text{
    color: #B0BEC5;
    font-size: 16px;
    padding: 15px 32px;


  }